/* 와이드 pc  */

.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%; top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto; min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto; min-height:100%; /*동영상 높이를 꽉차게*/
   transform:translateX(-50%) translateY(-50%);
   z-index:-100;}

/* 스크롤 다운 */
.down{border: 2px solid rgba(238, 238, 238, .6); border-radius: 150px; 
   box-sizing: border-box; font-size: 1rem; 
   position: absolute; left: 50%; bottom: 6%;
   transform: translateX(-50%); 
   width: 40px; height: 70px; z-index: 10;}
.down::before{ 
    content: ''; display: block;
    width: 8px; height: 8px;
    position: absolute; top: 15px; left: 50%; margin-left: -4px;
    background: rgba(238, 238, 238, 1);
    animation: ani 1s ease-in-out infinite backwards;
    transition: all .5s ease-in-out;
    border-radius: 50%;}
@keyframes ani{
    0% {opacity: 1; transform: translateY(-2px);}
    50% {opacity: .5;}
    100% {opacity: 0; transform: translateY(30px);}}
.down span{display: block;
   font-family: 'Shrikhand', serif;
   color: rgba(238, 238, 238, .8); 
   position: absolute; left: 50%; bottom: -35px; margin-left: -70px; 
   white-space: nowrap;
   animation: ani2 2s infinite;}
@keyframes ani2{
   0% {transform: scale(1);}
   50% {transform: scale(1.05);}
   100% {transform: scale(1);}}

#content{width:100%; margin:0; background:rgba(0,0,0,.5); position: relative;}
:root {--purple: #fff3b4; --violet: #f1dc65; --pink: #ffee91;}
#content > h2{position: absolute; left: 50%; top: -190px; 
   transform: translate(-50%, -50%); font-family: 'Shrikhand', serif; 
   color:#fff; letter-spacing: 1px;}
h2 > .magic{display: inline-block; position: relative;}
h2 > .magic > .magic-star{--size: clamp(10px, 3vw, 80px);  
   animation: scale 700ms ease forwards;
   display: block; height: var(--size); left: var(--star-left);
   position: absolute; top: var(--star-top); width: var(--size);}
h2 > .magic > .magic-star > svg {
   animation: rotate 1000ms linear infinite;
   display: block; opacity: 0.7;}
h2 > .magic > .magic-star > svg > path {fill: var(--violet);}
h2 > .magic > .magic-text {animation: background-pan 3s linear infinite;
   background: linear-gradient(to right, 
   #BC9443,#CBAA5D,#EFDC99,#f5e6b1,#B18532,#BC9443);
   background-size: 200%; -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; white-space: nowrap;
   font-size: 8vw; font-weight: 200; padding: 50px;}
@keyframes background-pan {
  from {background-position: 0% center;}
  to {background-position: -200% center;}}
@keyframes scale {
  from, to {transform: scale(0);}
  50% {transform: scale(1);}}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}}

/* 공통 영역 */
#content h3{font-family: 'Shrikhand', serif; 
   text-transform: uppercase; font-size: 3rem; font-weight: 200; 
   color: rgb(255, 253, 140); --duration: 1200ms; 
   --text-shadow-color: rgb(54, 47, 217);
   text-shadow: 0.006em -0.006em 0 
   var(--text-shadow-color), 0.012em -0.012em 0 
   var(--text-shadow-color), 0.018em -0.018em 0 
   var(--text-shadow-color), 0.024em -0.024em 0 
   var(--text-shadow-color), 0.03em -0.03em 0 
   var(--text-shadow-color), 0.006em 0 0 
   currentcolor, 0.012em -0.006em 0 
   currentcolor, 0.018em -0.012em 0 
   currentcolor, 0.024em -0.018em 0 
   currentcolor, 0.03em -0.024em 0 
   currentcolor, 0.036em -0.03em 0 
   currentcolor, 0.036em -0.036em 0 currentcolor;
   perspective: 3em; transform-origin: bottom center;
   transform-style: preserve-3d; 
   transition: all .5s ease-in-out;}

#content h3:hover{animation: movement var(--duration) 
   cubic-bezier(0.65, 0, 0.35, 1) infinite;}
   
   @keyframes movement{
      20% {transform: scaleY(1.4) skew(10deg);}
      50% {transform: scaleY(1) skew(0);}
      70% {transform: scaleY(1.4) skew(-10deg);}}

/* intro 영역 */
#content .intro {width: 100%; padding: 2% 0; background: #000;}
#content .intro strong{display: block;
   font-family: 'Shrikhand', serif; 
   text-align: center; color: rgba(255, 215, 0, 1);
   font-size: 3rem; font-weight: 200;}
#content .intro strong span{font-size: 3rem; letter-spacing: 1px;}
#content .intro p{display: block; text-align: center;}

/* history 영역 */
#content .history{width: 95%; margin: 5% 2.5%; padding: 5% 3%; 
   background: rgba(0,0,0,.8); border-radius: 50px;
   border: 3px solid #eee; box-sizing: border-box;}
#content .history h3{text-align: center; }
#content .history span{display: block; text-align: center; padding-bottom: 100px;}
#content .history ul{display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: auto;
   grid-gap: 50px;
   grid-template-areas:
       'a b '
       'd c ';}
.history ul li{transition: all .5s ease-in-out;}
.history ul li:nth-child(1){grid-area: a;
   border-radius: 50px;
   border: 10px double rgba(22, 64, 214, .8);}
.history ul li:nth-child(2){grid-area: b;}
.history ul li:nth-child(3){grid-area: c;
   border-radius: 50px;
   border: 10px double rgba(22, 64, 214, .8);}
.history ul li:nth-child(4){grid-area: d;}
.history ul li:nth-child(1):hover , 
.history ul li:nth-child(3):hover {
   box-shadow: 0 0 2px #5CD2E6, 0 0 6px #5CD2E6, 0 0 8px #5CD2E6, 0 0 16px #5CD2E6, 0 0 24px #1640D6, 0 0 4px #5272F2, 0 0 38px #1640D6;}

.history ul li img{width: 100%; height: 100%; 
   object-fit: cover; object-position: center;
   border-radius: 50px;
   border: 10px double rgba(255, 196, 54, .8);
   box-sizing: border-box;
   transition: all .5s ease-in-out;}
.history ul li:hover img {
   box-shadow: 0 0 2px #ffee00, 0 0 6px #ffee00, 0 0 8px #ffee00, 0 0 16px #ffee00, 0 0 24px #ff8d00, 0 0 4px #ffa500, 0 0 38px #ff8d00;
   transform: scale(1.02);}

.history ul li dl{padding: 20% 10%;}
.history ul li dl dt{font-family: 'Shrikhand', serif; 
   font-size: 2rem; font-weight: 200; color: #f1dc65;
   padding: 20px 0; text-align: center;}
.history ul li dl dd{line-height: 1.5rem; text-indent: 30px;}

/* aboutUs 영역 */
.aboutUs{margin-bottom: 100px;
   box-sizing: border-box;
   border-top: 3px solid #eee;
   border-bottom: 3px solid #eee;}
#content .aboutUs h3{margin-bottom: 80px;}
#content .aboutUsLeft p{display: block; font-size: 1.1rem;
   margin-bottom: 30px; text-align: justify;}

.aboutUsBox{
   background: rgba(0,0,0,.8); padding: 100px 80px; overflow: hidden; 
   display: grid; grid-template-columns: repeat(4, 1fr); 
   grid-auto-rows: auto; grid-gap: 2rem;
   grid-template-areas: 
    'a a b b'
    'a a b b'
    'c c d d';}

.aboutUsBox .aboutUsLeft ~ div{
   background: #fff;
   padding: 30px; border-radius: 60px;
   box-shadow:
      inset #009688 0 0 0 5px, 
      inset #059c8e 0 0 0 1px, 
      inset #0cab9c 0 0 0 10px, 
      inset #1fbdae 0 0 0 11px, 
      inset #8ce9ff 0 0 0 16px, 
      inset #48e4d6 0 0 0 17px, 
      inset #e5f9f7 0 0 0 21px, 
      inset #bfecf7 0 0 0 22px;}
.aboutUsBox img{width: 100%; height: 100%; 
   border: 5px solid #e5f9f7; border-radius: 50px; box-sizing: border-box;
   object-fit: cover; object-position: center; 
   transition: all .3s ease;}
.aboutUsBox img:hover , 
.aboutUsBox div:nth-child(2) img:hover{
   transform: scale(1.02);}

.aboutUsBox div:nth-child(1){grid-area: a;}
.aboutUsBox div:nth-child(2){grid-area: b;}
.aboutUsBox div:nth-child(3){grid-area: c;}
.aboutUsBox div:nth-child(4){grid-area: d;}

/* 일반 pc */
@media screen and (max-width:1280px) {

   /* intro 영역 */
   #content .intro strong{font-size: 2.5rem;}
   #content .intro strong span{font-size: 2.5rem;}

   /* history 영역 */
   #content .history span{padding-bottom: 80px;}
   .history ul li dl{padding: 10% 5%;}
   .history ul li dl dt{font-size: 1.8rem; line-height: 1.8rem;}
   .history ul li dl dd{font-size: .95rem; line-height: 1.2rem;}

   /* aboutUs 영역 */
   #content .aboutUs h3{margin-bottom: 30px;}
   #content .aboutUsLeft p{font-size: .95rem; margin-bottom: 10px;}
   .aboutUsBox img{border: 4px solid #e5f9f7; border-radius: 30px;}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
   /* 공통 영역 */
   #content{width: auto; margin: 0;}
   #content > h2{top: -180px;}

   /* intro 영역 */
   #content .intro strong{font-size: 2rem;}
   #content .intro strong span{font-size: 2rem;}
   #content .intro p{font-size: .95rem;}

   /* history 영역 */
   #content .history h3{font-size: 2.5rem;}
   #content .history span{font-size: .95rem; padding-bottom: 60px;}
   #content .history ul{grid-gap: 30px;}
   .history ul li:nth-child(1){border: 8px double rgba(22, 64, 214, .8);}
   .history ul li:nth-child(3){border: 8px double rgba(22, 64, 214, .8);}
   .history ul li img{border: 8px double rgba(255, 196, 54, .8);}
   .history ul li dl dt{font-size: 1.5rem; line-height: 1.5rem;}
   .history ul li dl dd{font-size: .9rem; line-height: 1rem;
      text-align: center; text-indent: 0;}

   /* aboutUs 영역 */
   .aboutUsBox{padding: 60px; grid-gap: 30px;}
   #content .aboutUs h3{font-size: 2.5rem;}
   #content .aboutUsLeft p{font-size: .9rem; text-align: justify;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

   /* intro 영역 */
   #content .intro strong{font-size: 1.5rem;}
	#content .intro strong span{font-size: 1.5rem;}
   #content .intro p{font-size: .8rem;}

   /* history 영역 */
   #content .history h3{font-size: 2rem; 
      text-align: unset; margin-bottom: 10px;}
   #content .history span{display: none;}
   #content .history ul{grid-gap: 20px;
      grid-template-areas:
         'a a '
         'c b ';}
   .history ul li:nth-child(1){border: 0;}
   .history ul li:nth-child(3){border: 0;}
   .history ul li:nth-child(4){display: none;}
   .history ul li dl{padding: 0;}
   .history ul li dl dt{font-size: 1.2rem; line-height: 1rem;}
   .history ul li dl dd{font-size: .8rem;}
   .history ul li:nth-child(3) dl dt{text-align: unset;}
   .history ul li:nth-child(3) dl dd{text-indent: 20px; text-align: justify;}
   .history ul li:nth-child(1):hover , 
   .history ul li:nth-child(3):hover {box-shadow: none;}

   /* aboutUs 영역 */
   .aboutUs{margin-bottom: 50px; 
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;}
   #content .aboutUs h3{font-size: 2rem; text-align: center;}
   #content .aboutUsLeft p{text-align: center;}
   .aboutUsBox{
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      'a a'
      'c c';}
   .aboutUsBox div:nth-child(2){display: none;}
   .aboutUsBox div:nth-child(4){display: none;}
}

/* 모바일 */
@media screen and (max-width:640px) {
   /* 공통 영역 */
   h2 > .magic > .magic-text{font-size: 12vw;}

	/* intro 영역 */
   #content {padding-top: 30px;}
   #content .intro{display: none;}

   /* history 영역 */
   #content .history{border-radius: 30px;}
   #content .history h3{font-size: 1.5rem; padding-left: 10px;}
   #content .history ul{display: block;}
   .history ul li:nth-child(1){margin-bottom: 20px;}
   .history ul li:nth-child(3){display: none;}
   .history ul li dl dt{font-size: 1.1rem;}
   .history ul li dl dd{font-size: .76rem;}
   .history ul li img{border-radius: 20px;
      border: 5px double rgba(255, 196, 54, .8);}
   .history ul li:hover img{box-shadow: none; border: 5px double rgba(255, 196, 54, 1);}

   /* aboutUs 영역 */
   .aboutUsBox{padding: 30px; grid-gap: 20px;}
   #content .aboutUs h3{font-size: 1.5rem; margin-bottom: 10px;}
   #content .aboutUsLeft p{font-size: .8rem; width: 90%; margin: 2% 5%; 
      text-align: justify; text-indent: 10px;}
   .aboutUsBox .aboutUsLeft ~ div{box-shadow: none; padding: 0; background: none;}
   .aboutUsBox img{border: 3px solid rgba(255, 215, 0, 1);}
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
   #wrap {min-width:320px;}
   
   /* intro 영역 */
	#content .intro strong span{display: none;}

   /* aboutUs 영역 */
   #content .aboutUsLeft p{width: 95%; margin: 0 2.5%;}
   }