/* 비전&미션 본문 css */
#content .content_area{
    width: 1200px; margin: 0 auto;}
#content .content_area .vision_mission{
    margin-bottom: 100px;}
#content .content_area .vision_mission .vm_box{
    width: 2000px; height: 500px;
    background: url(../images/content3/back.svg);
    position: relative; left: 50%; top: 150px;
    transform: translate(-50%, -50%);
    display: flex; justify-content: center; align-items: center;}

#content .content_area .vision_mission h3{position: relative;}
#content .content_area .vision_mission h3 ,
#content .content_area .vision_mission h3 ~ span{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem; font-weight: 800; letter-spacing: -2px;
    text-align: center; margin-top: 100px;}
#content .content_area .vision_mission h3::before{
    content: ''; display: block;
    width: 40px; height: 40px;
    background: url(../images/content3/highlighter.png);
    position: absolute; left: 380px; top: 10px;}
#content .content_area .vision_mission h3::after{
    content: ""; display: block;
    width: 40px; height: 40px;
    background: url(../images/content3/highlighter.png);
    position: absolute; right: 380px; top: 10px;}
#content .content_area .vision_mission h3 ~ span{display: block;
    font-size: 1.5rem; font-weight: 500;
    margin-top: 0; margin-bottom: 60px;}
#content .content_area .vision_mission > p{display: block; 
    text-align: center; font-size: 1.125em; 
    line-height: 1.5em; margin-bottom: 150px;}

#content .content_area .vision , 
#content .content_area .mission{
    width: 590px; height: 250px;
    margin: 0 10px; 
    background: #fff; opacity: .9;
    position: relative;
    transition: all .5s ease-in-out;}
#content .vm_box li:hover .vision,
#content .vm_box li:hover .mission {
    opacity: 1;}

#content .content_area .vision h4, 
#content .content_area .mission h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em; font-weight: 800;
    font-style: italic; letter-spacing: -2px;
    text-align: center; 
    margin-bottom: 20px; padding-top: 20px;
    transition: all .5s ease-in-out;} 
#content .vm_box li:hover .vision h4, 
#content .vm_box li:hover .mission h4{
    color: #B20600;}
#content .content_area .vision span, 
#content .content_area .mission span{
    display: block; text-align: center;
    padding: 0 20px;}
#content .content_area .vision span:first-of-type, 
#content .content_area .mission span:first-of-type{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em; font-weight: 500;}
#content .content_area .vision span:first-of-type{
    margin-top: 20px; margin-bottom: 30px;}
#content .content_area .mission span:first-of-type{
    margin-bottom: 20px;}

#content .vm_box .motion{
    width: 590px; height: 250px;
    margin: 0 10px; 
    position: absolute; top: 125px;}
#content .vm_box .motion span{
    position: absolute; display: block; 
    background:#B20600; 
    transition-property: all; 
    transition-duration: .2s;}
#content .vm_box .motion span:nth-child(1){
    left:0; top:0; width: 0; height: 5px; transition-delay: .6s;}
#content .vm_box .motion span:nth-child(2){
    right:0; top:0; width: 5px; height: 0; transition-delay: .4s;}
#content .vm_box .motion span:nth-child(3){
    right:0; bottom:0; width: 0; height: 5px; transition-delay: .2s;}
#content .vm_box .motion span:nth-child(4){
    left:0; bottom:0; width: 5px; height: 0px; transition-delay: 0s;}
#content .vm_box li:hover .motion span:nth-child(1){
    width:100%; transition-delay: 0s;}
#content .vm_box li:hover .motion span:nth-child(2){
    height:100%; transition-delay: .2s;}
#content .vm_box li:hover .motion span:nth-child(3){
    width:100%; transition-delay: .4s;}
#content .vm_box li:hover .motion span:nth-child(4){
    height:100%; transition-delay:.6s;}

#content .content_area .value{}
#content .content_area .value h3{position: relative;}
#content .content_area .value h3 ,
#content .content_area .value h3 ~ span{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem; font-weight: 800; letter-spacing: -2px;
    text-align: center; margin-top: 100px;}
#content .content_area .value h3::before{
    content: ''; display: block;
    width: 40px; height: 40px;
    background: url(../images/content3/highlighter.png);
    position: absolute; left: 410px; top: 10px;}
#content .content_area .value h3::after{
    content: ''; display: block;
    width: 40px; height: 40px;
    background: url(../images/content3/highlighter.png);
    position: absolute; right: 410px; top: 10px;}
#content .content_area .value h3 ~ span{display: block;
    font-size: 1.5rem; font-weight: 500;
    margin-top: 0; margin-bottom: 60px;}
#content .content_area .value > p{display: block; 
    text-align: center; font-size: 1.125em; 
    line-height: 1.5em; margin-bottom: 100px;}

#content .content_area .value ul{
    display: flex; flex-wrap: wrap;
    margin-bottom: 200px;}
#content .content_area .value ul li{
    margin: 10px;
    position: relative;}
#content .content_area .value ul li::before{
    content: ''; display: block;
    width: 560px; height: 460px;
    border: 3px solid #B20600;
    border-radius: 65px;
    position: absolute; left: -1.4%; top: -1.7%;
    opacity: 0;
    transition: all .2s ease-in-out;}
#content .content_area .value ul li:hover::before{
    opacity: 1;}
#content .content_area .value ul li .value_title{
    position: relative;}
#content .content_area .value ul li .value_title img{
    border-radius: 60px;
    position: relative;}
#content .content_area .value ul li .value_title span{
    position: absolute; left: 50%; top: 20px;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    color: #fff; font-size: 1.5em; font-weight: 800; opacity: 1;
    transition: all .3s ease-in-out;}
#content .content_area .value ul li:hover .value_title span{
    opacity: 0;}

#content .content_area .value ul li .value_text{
    position: absolute; top: 0%;
    width: 100%; height: 450px; 
    background: rgba(0, 0, 0, .5);
    border-radius: 60px;
    color: #fff; opacity: 0;
    transform: rotateY(180deg);
    transition: all .5s ease-in-out;}
#content .content_area .value ul li:hover .value_text{
    opacity: 1; 
    transform: rotateY(360deg);}
#content .content_area .value ul li .value_text span{
    display: block; text-align: center;
    font-size: 1.5em; font-weight: 700; color: #ffe6C7;
    margin-top: 20%; margin-bottom: 50px;}
#content .content_area .value ul li .value_text p{
    width: 450px; margin-left: 50px;
    display: block; text-align: justify;}